.screenloader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container-loader {
  width: 300px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(500px) rotateX(60deg);

  .aro {
    position: absolute;
    inset: calc(var(--s) * 10px);
    box-shadow: inset 0 0 80px #f95300;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    animation: strim 3s infinite ease-in-out both;
    animation-delay: calc(var(--s) * -0.1s);
  }
}

@keyframes strim {
  0%,
  100% {
    transform: translateZ(-100px) rotate(0deg);
  }
  50% {
    transform: translateZ(100px) rotate(90deg);
  }
}
